.weather-today {
    justify-content: center;
    text-align: center;
    display: flex;
    height: 60vh;
    margin: 0;
}

.weather {
    border: 5px black;
    border-style: solid;
    height: 40vh;
    width: 40vw;
    margin-top: 2rem;
}

.search {
    position:absolute;
    left: 2rem;
    margin-top: 2rem;
}

#cities li {
    background: grey;
    border-radius: 2px;
    margin-top: 1rem;
    list-style: none;
}

.header {
    padding: 15px;
    text-align: center;
    background: #581abc;
    color: white;
    font-size: 20px;
}

.weather-forecast {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.weather-forecast-icon {
    max-width: 50%;
}